@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --font: #8DF4FF;
    --background: #024179;
    --aberrarion: #0259a6;
    --black: #333;

    --rolo-highlight: #51b3be;

    --body-font-size: 1.5rem;

    --screen-width: 1000px;
    --screen-height: 750px;
    --top-bot-height: 115px; /* sync with TOP_HEIGHT in main js */
    --divider-height: 10px; /* sync with DIVIDER_HEIGHT in main js */
    --mid-height: 500px; /* sync with MID_HEIGHT in main js */

    --title-font-size: 1.8rem;
    --body-font-size: 1.5rem;

    --digit-font-size: 1.25rem; /* sync with zoomLevel in main js */
    --digit-cell-size: 70px; /* sync with zoomLevel in main js */
    --digit-container-size: 4480px; /* sync with zoomLevel in main js */

    --bin-width: 150px;
    --bin-border: 3px;
    --bin-outer-pad: 70px;
    --bin-inner-pad: 20px;

    --bin-fill-1: 50px; /* 150px max */

    /* Rolodex */
    --rolo-width: 250px;
    --rolo-height: 360px;
    
    --rolo-scale: 0.4;
    --rolo-opacity: 0;

    --rolo-top: calc( (var(--screen-height) - var(--rolo-height)) / 2 );
    --rolo-left: calc( (var(--screen-width) - var(--rolo-width)) / 2 );

    --rolo-border-width: 6px;
    --rolo-border-radius: 12px;

    --rolo-card-gap: 10px;
    --rolo-card-width: calc( var(--rolo-width) - 2 * var(--rolo-border-width) );
    --rolo-card-height: calc( 
        (var(--rolo-height) - var(--rolo-card-gap) - 4 * var(--rolo-border-width)) / 2 
    );

    --rolo-ring-width: 13px;
    --rolo-ring-height: 62px; 
    --rolo-ring-inset: 54px;
    --rolo-ring-top: calc( (var(--rolo-height) - var(--rolo-ring-height)) / 2 );

    --rolo-wheel-width: 30px;
    --rolo-wheel-height: 135px;
    --rolo-wheel-side-gap: 10px;
    --rolo-rect-height: 10px;
    --rolo-wheel-top: calc( 
        var(--rolo-card-height) + 2 * var(--rolo-border-width) 
        + var(--rolo-card-gap) / 2 - var(--rolo-wheel-height) / 2 
    );

    --rolo-pill-height: 10px;

    --rolo-tab-container-width: calc(
        var(--rolo-width) - 4 * var(--rolo-border-width)
    ); /* 4 because tabs hang without extra width padding */
    --rolo-tab-container-height: 36px;
    --rolo-tab-side-gap: 5px;
    --rolo-tab-width: calc( 
        (var(--rolo-tab-container-width) - 3 * var(--rolo-tab-side-gap)) / 4 
    );
    --rolo-tab-left-offset: calc( var(--rolo-tab-side-gap) + var(--rolo-tab-width) );

    --copy-bot-card-top: calc( 
        var(--rolo-card-height) + var(--rolo-card-gap) + 2 * var(--rolo-border-width)
    );
}

html, body {
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
}

body {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-style: normal;
    font-weight: 800; /* 400 for regular */
    font-size: var(--body-font-size); /* 1.5rem - 8rem */
    color: var(--font);
}

.screen-container {
    background: var(--black);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url('img/cursor.png'), pointer;
}