@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;800&display=swap');

:root {
    --font: #8DF4FF;
    --background: #024179;
    --aberrarion: #0259a6;
    --black: #333;

    --screen-width: 1000px;
    --screen-height: 750px;
    --top-bot-height: 115px; /* sync with TOP_HEIGHT in main js */
    --divider-height: 10px; /* sync with DIVIDER_HEIGHT in main js */
    --mid-height: 500px; /* sync with MID_HEIGHT in main js */

    --title-font-size: 1.8rem;
    --body-font-size: 1.5rem;

    --digit-font-size: 1.25rem; /* sync with zoomLevel in main js */
    --digit-cell-size: 70px; /* sync with zoomLevel in main js */
    --digit-container-size: 4480px; /* sync with zoomLevel in main js */

    --bin-width: 150px;
    --bin-border: 3px;
    --bin-outer-pad: 70px;
    --bin-inner-pad: 20px;

    --bin-fill-1: 50px; /* 150px max */
}

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

body {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-style: normal;
    font-weight: 800; /* 400 for regular */
    font-size: var(--body-font-size); /* 1.5rem - 8rem */
    color: var(--font);
}

.screen-container {
    background: var(--black);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    position: relative;
    overflow: hidden;
    background: var(--background);
    width: var(--screen-width);
    height: var(--screen-height);

    display: grid;
    grid-template-rows: var(--top-bot-height) var(--divider-height) var(--mid-height) var(--divider-height) var(--top-bot-height);

    cursor: url('cursor.png'), pointer;
}

    .screen .top {
        display: grid;
        grid-template-columns: 70px 1fr 70px;
        font-size: var(--title-font-size);
    }

        .rect-contaner {
            grid-column: 2 / 3;
            display: flex;
            align-items: center;
        }

        .screen .top .rect {
            position: relative;
            display: flex;
            flex-grow: 1;
            align-items: center;
            padding: 2px;
            border: 3px solid var(--font);
            height: 35px;
        }

            .screen .top .rect .fill {
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
            }

                .top .bar {
                    display: inline-block;
                    height: 100%;
                    width: 6px;
                }

                .bar:nth-child(odd) {
                    background: var(--font);
                }

            .screen .top .rect .filename {
                position: relative;
                z-index: 10;
                left: 6px;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: var(--background);
            }

            .screen .top .rect .complete {
                position: absolute;
                right: calc(70px + 156px + 12px); /* 70 for rigth margin, 156 for bin width, 12 for padding */
                z-index: 10;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: var(--background);
            }

    .screen .divider {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        .screen .divider .top, .screen .divider .bot {
            flex-grow: 0 / 1;
            background: var(--font);
            height: 3px;
        }

    .screen .mid {
        width: var(--screen-width);
        height: var(--mid-height);
        overflow: hidden;
    }

        .screen .mid .digit-container {
            position: relative;
            top: 0px;
            left: 0px;
            display: flex;
            flex-wrap: wrap;
            width: var(--digit-container-size);
            user-select: none;
        }

            .screen .mid .digit-container .digit, .screen .digit { /* .screen .digit is a clone digit */
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                /* text-shadow: 2px 2px 2px var(--aberrarion); */
                line-height: 0.9;
                width: var(--digit-cell-size);
                height: var(--digit-cell-size);
                font-size: var(--digit-font-size);
            }

                .screen .mid .digit-container .digit span {
                    position: relative;
                }

    .screen .bot {
        display: grid;
        grid-template-rows: 80px 35px;
    }

        .screen .bot .bin-container {
            display: grid;
            grid-column-gap: var(--bin-inner-pad);
            padding: 0px var(--bin-outer-pad);
            grid-template-columns: repeat(5, 1fr);
            position: relative;
            z-index: 10;
            background: var(--background);
            margin-top: 4px;
        }

            .one, .two, .three, .four, .five {
                display: flex;
                flex-direction: column;
            }

                .label {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .percent {
                    display: flex;
                    align-items: center;
                    margin-top: 4px;
                    position: relative;
                }

                    .percent .fill {
                        position: absolute;
                        background: var(--font);
                        top: 0px;
                        bottom: 0px;
                        left: 0px;
                        width: 0px; /* adjust to set fill (var(--bin-width) max) */
                    }

                    .percent>span {
                        position: relative;
                        z-index: 10;
                        margin-left: 6px;
                        -webkit-text-stroke-width: 1px;
                        -webkit-text-stroke-color: var(--background);
                    }

                .label, .percent {
                    width: var(--bin-width);
                    height: 28px;
                    border: var(--bin-border) solid var(--font);
                }

        .location-container {
            display: grid;
            grid-template-rows: 2px 1fr;
            position: relative;
            z-index: 10;
            background: var(--background);
        }

            .location-container .thin-divider {
                background: var(--font);
            }

            .location-container .location {
                display: flex;
                justify-content: center;
                align-items: center;
            }

canvas {
    position: absolute;
    width: 332px;
    height: 92px;
    pointer-events: none;
}

.popup {
    position: absolute;
    z-index: 5;
    width: var(--bin-width);
    height: 248px;
    border: 3px solid var(--font);
    background: var(--background);
}

    .popup .popup-label {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid var(--font);
        margin: 4px 4px 0px 4px;
        height: 28px;
    }

    .popup .tempers {
        display: grid;
        grid-template-rows: repeat(4, 28px);
        grid-template-columns: 36px 1fr;
        grid-row-gap: 17px;
        grid-column-gap: 8px;
        margin: 17px 4px 0px 4px;
    }

        .popup .temper-label {
            display: flex;
            align-items: center;
        }

        .popup .bar {
            position: relative;
            border: 2px solid var(--font);
            border-radius: 2px;
        }

            .popup .bar .fill {
                position: absolute;
                top: 0px;
                left: 0px;
                bottom: 0px;
                background: var(--font);
                width: 64px; /* adjust to set fill (94px max) */
            }
