@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;800&display=swap');

:root {
    --font: #8DF4FF;
    --background: #024179;
    --aberrarion: rgba(2, 89, 166, 1);
    --black: #333;

    --screen-width: 1000px;
    --screen-height: 750px;
    --top-bot-height: 115px; /* sync with TOP_HEIGHT in main js */
    --divider-height: 10px; /* sync with DIVIDER_HEIGHT in main js */
    --mid-height: 500px; /* sync with MID_HEIGHT in main js */

    --body-font-size: 1.5rem;

    --digit-font-size: 1.25rem; /* sync with zoomLevel in main js */
    --digit-cell-size: 70px; /* sync with zoomLevel in main js */
    --digit-container-size: 4480px; /* sync with zoomLevel in main js */
}

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

body {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-style: normal;
    font-weight: 800; /* 400 for regular */
    font-size: var(--body-font-size); /* 1.5rem - 8rem */
    color: var(--font);
}

.screen-container {
    background: var(--black);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    background: var(--background);
    width: var(--screen-width);
    height: var(--screen-height);

    display: grid;
    grid-template-rows: var(--top-bot-height) var(--divider-height) var(--mid-height) var(--divider-height) var(--top-bot-height);

    cursor: url('cursor.png'), pointer;
}

    .screen .top {

    }

    .screen .divider {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        .screen .divider .top, .screen .divider .bot {
            flex-grow: 0 / 1;
            background: var(--font);
            height: 3px;
        }

    .screen .mid {
        width: var(--screen-width);
        height: var(--mid-height);
        overflow: hidden;
    }

        .screen .mid .digit-container {
            position: relative;
            top: 0px;
            left: 0px;
            display: flex;
            flex-wrap: wrap;
            width: var(--digit-container-size);
            user-select: none;
        }

            .screen .mid .digit-container .digit {
                display: flex;
                justify-content: center;
                align-items: center;
                /* text-shadow: 2px 2px 2px var(--aberrarion); */
                line-height: 0.9;
                width: var(--digit-cell-size);
                height: var(--digit-cell-size);
                font-size: var(--digit-font-size);
            }

    .screen .bot {
        display: grid;
        grid-template-rows: 80px 35px;
    }

        .screen .bot .bin-container {
            display: grid;
            grid-column-gap: 20px;
            padding: 0px 20px;
            grid-template-columns: repeat(5, 1fr);
        }

            .one, .two, .three, .four, .five {
                display: flex;
                flex-direction: column;
            }

                .label {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .percent {
                    display: flex;
                    align-items: center;
                }

                    .percent>span {
                        margin-left: 6px;
                    }

                .label, .percent {
                    width: 170px;
                    height: 28px;
                    border: 3px solid var(--font);
                    margin-top: 4px;
                }

        .location-container {
            display: grid;
            grid-template-rows: 2px 1fr;
        }

            .location-container .thin-divider {
                background: var(--font);
            }