.logo-screen {
    position: absolute;
    width: var(--screen-width);
    height: var(--screen-height);
    cursor: none;
}

    .logo-screen>.logocanvas {
        width: var(--screen-width);
        height: var(--screen-height);
        background: var(--background);
        /* cursor: none; */
    }

    .logo-screen>.logo {
        position: absolute;
        z-index: 5;
        opacity: 0;
    }